.user-table-view {
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.8);
}
.table-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 120px;
  gap: 5px;
  transition: 200ms;
}
.table-row:hover {
  background-color: #f1f1f1;
}
.table-col {
  padding: 8px;
  color: black;
}
.table-col.title {
  background-color: #555;
  color: white;
  text-align: center;
}

.empty-row {
  text-align: center;
  font-weight: 900;
  font-style: italic;
  color: red;
  padding: 30px 0;
}
.action-button {
  background-color: transparent;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  color: black;
  text-decoration: none;
}
.action-button:hover {
  background-color: #ccc;
}